.addressSearchContainer {
  position: relative;
  top: 59px;
  max-width: 400px;
}

.buttonsContainer {
  position: absolute;
  display: flex;
  z-index: 10;
  margin-left: 10px;
  width: 100px;
  height: 40px;
  left: 100%;
}

.setMakersBtn {
  outline: none;
  padding-inline: 10px;
  font-size: 21px;
  border: 1px solid lightgray;
  font-size: 16px;
  color: rgb(107, 107, 107);
}

.clearBtn {
  outline: none;
  padding-inline: 10px;
  font-size: 21px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid lightgray;
  font-size: 16px;
  color: rgb(107, 107, 107);
}

.setMakersBtn:hover,
.clearBtn:hover {
  background-color: grey;
  color: #fff;
}
